@charset "UTF-8";

@media screen and (min-width: 700px) and (max-width: 992px) {
    body,html {
        background-image: linear-gradient(to top, #916db09d, #21264e);
    }

    #login {
        width: 80vw;
        height: 55vh;
    }

    #login > #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #login > #formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    body,html {
        background-image: linear-gradient(to top, #916db09d, #21264e);
    }

    #login {
        width: 85vw;
        height: 55vh;
    }

    #login > #imagem {
        float: right;
        width: 40%;
        height: 100%;
    }

    #login > #formulario {
        float: left;
        width: 60%;
    }

    #formulario > h1 {
        font-size: 1.2;
    }
    
    #formulario > p {
        font-size: 1.2em;
    }
}